<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Assets/stylesheet.css">
    <link rel='manifest' href='../../Controler/manifest.json'>
    <meta name="theme-color" content="#FFA500s">
    <title>Recherche d'un Etudiant</title>
</head>

<body>
    <header>
        <img src="../Assets/images/logo.png" alt="logo EASYSTAGE">
        <h1 class="GE">Recherche Etudiant</h1>
    </header>
    <div class="back_to_hub">
    <div class="text_bth" onclick="redirectToAccueilGETU()">Espace Etudiant</div>
    </div>
    <main>
        <form name="GE_creation"  action="" method="post">
            <fieldset>

                <img src="../Assets/images/logo.png" alt="logo EASYSTAGE">
                <div class="info">
                <div class="info_txt">Critères de recherche :</div>
                </div>
                <label for="nom_etudiant">Nom :</label>
                <input type="text" id="nom_etudiant" name="nom_etudiant">
                <label for="prenom">Prénom :</label>
                <input type="text" id="prenom_etudiant" name="prenom_etudiant">
                <label for="centre_etudiant">Centre :</label>
                <input type="text" id="centre_etudiant" name="centre_etudiant">
                <label for="promo_etudiant">Promotion :</label>
                <input type="text" id="promo_etudiant" name="promo_etudiant">
                <button class="button" type="submit" onclick="PROFIL_ETU()">Rechercher</button>
            </fieldset>
        </form>
    </main>
    <footer>
        <a class="mentions-legales" href="mentions_legales.html">©2024 - Tous droits réservés -	Mentions légales EasyStage</em>
    </footer>
    <script src="../../Controler/script.js"></script>
</body>