

header {
    display: flex;
    background-image:url("images/entete.png");
    padding-bottom: 4rem;
    background-size: auto 100%;
    background-position: left top;
    background-size: cover;
}

h1{
    padding-left: 35%;
}


header > img {
    margin-left: 1rem;
    max-width: 120px;
    min-width: 120px;
    max-height: 80px; 
}


@media (max-width: 800px) {
    h1{
        padding-left: 13rem;
    }
    header {
        display: flex;
        background-image: url("images/enteteRES.png");
        background-size: auto 100%;
        background-position: left top;
        background-size: cover;
    }
    header >img{
        min-width: 100px;
        max-height: 60px; 
        margin-top: 2rem;
    }
}


@media (max-width: 600px) {
    h1{
        padding-left: 5rem;
    }
    header {
        display: flex;
        background-image: url("images/enteteRESv2.png");
        background-size: auto 100%;
        background-position: left top;
        background-size: cover;
    }
    header >img{
        min-width: 100px;
        max-height: 60px; 
        margin-top: 3rem;
    }
}

form{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
}

fieldset img {
    max-width: 100%;
    margin-bottom: 3rem;
}

label {
    display: block;
    color:grey;
    margin-bottom:10px
}

input {
    display: block;
    border: 0.05rem solid grey; 
    border-radius: 0.3rem; 
    padding: 0.5rem 2rem;
    margin-bottom: 1rem;
    margin: 0 auto;
    margin-bottom: 1rem;
}

fieldset {
    border: none;
    align-items:center;
}

.button{
    margin: 1rem;
    padding: 0.5rem 6rem;
    border: none;
    border-radius: 2rem;
    background-color:rgb(255, 221, 0);
    font-family: Arial;
    font-size:1rem;
}

.button:hover{
    font-weight: bold;
}



/* offre de stage */

.header1 {
    display: flex;
    background-image:url("images/entetepages3.png");
    padding-bottom: 3rem;
    background-position: left top;
    background-size: cover;
}

nav:first-of-type {
    margin-top: 4rem;
    margin-left: 15%; 
}

.navbar {
    text-align: left;
    font-weight: bolder;
    font-size: 3rem;
    width: 100%;
    
}

a {
    font-size: 1.5rem;
    text-align: right;
    margin: 2%;
}

.flex-container1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
 }

.flex-container1 > .rechercher {
    width: 80%;
    border-radius: 5rem;
}

.newOffre{
    border-radius: 5rem;
    margin-right: 2rem;
}

#filtres {
    margin-right: 5%;
    align-self: flex-start;
    margin-bottom: 3rem;
    margin-top: 0;
}

.offre {
    padding: 3rem 40rem;    
    margin: 2% 2%;
    background-color:rgb(220, 220, 220);
}

.flex-container2 {
    display: flex;
    justify-content: space-between;   
    box-sizing: 100%;
    margin-bottom: 10rem;
 }  

#colonne2 {
    box-sizing: 60%;
}


h3 {
    margin-top: 2rem;
}   


/*filtre promotion*/

.hidePromo {
    margin-left: 1rem;
    color: black;
    display: none;
}

input[type="checkbox"]{
    display: inline;
    border: 0.05rem solid black;
    border-radius: 0.3rem;
    margin-bottom: 0rem;
}


/*filtre lieu*/

.hideLieu {
    color: black;
    text-align: left;
    display: none;
}

.inputLieu {
    padding: 0.3rem 0.1rem;
    display: none;
}


/*filtre entreprise*/

.hideEntreprise {
    color: black;
    text-align: left;
    display: none;
}

#inputEntreprise {
    display: none;
}


/*filtre duree*/

.hideDuree {
    color: black;
    text-align: left;
    display: none;
}

.inputDuree {
    all:initial;
    accent-color: rgb(255, 221, 0);
    margin-right: 1rem;
    border: 0.01rem solid black;  
    border-radius: 3rem; 
    display: none;
}

.outputDuree {
    all: initial;
    border: none;
    font-size: 0.9rem;
    border: 0.05rem solid rgb(220, 220, 220); 
    border-radius: 0.3rem; 
    margin-bottom: 2rem;
    display: none;
}


/*filtre salaire*/

.hideSalaire {
    color: black;
    text-align: left;
    display: none;
}

.inputSalaire {
    all:initial;
    accent-color: rgb(255, 221, 0);
    margin-right: 1rem;
    border: 0.01rem solid black;  
    border-radius: 3rem; 
    display: none;
}

.outputSalaire {
    all: initial;
    border: none;
    font-size: 0.9rem;
    border: 0.05rem solid rgb(220, 220, 220); 
    border-radius: 0.3rem; 
    margin-bottom: 2rem;
    display: none;
}


/*filtre places*/

.hidePlaces {
    color: black;
    text-align: left; 
    display: none;
}

.inputPlaces {
    padding: 0.3rem 0.1rem;
    display: none;
}


/*filtre trier*/

input[type="radio"]{
    display: inline;
}

.trier {
    display: none;
}


