

<<<<<<< HEAD
.connexion {
    display: flex;
    justify-content:space-between;
    align-items: center;
=======

header {
    display: flex;
>>>>>>> 79cf498f3976d666fadba11ac7b7c4047a7d6652
    background-image:url("images/entete.png");
    padding-bottom: 4rem;
    background-size: auto 100%;
    background-position: left top;
    background-size: cover;
<<<<<<< HEAD
    background-repeat: no-repeat;
    background-position: center center;
    padding-bottom: 60px;
    padding-right: 40vw;
    color: black; 
    margin-top: 0rem;
}

.connexion > img {
=======
}

h1{
    padding-left: 20rem;
}


header > img {
>>>>>>> 79cf498f3976d666fadba11ac7b7c4047a7d6652
    margin-left: 1rem;
    max-width: 120px;
    min-width: 120px;
    max-height: 80px; 
}  
<<<<<<< HEAD

@media only screen and (min-width: 892px) {
    .connexion {
        display: flex;
        justify-content:space-between;
        align-items: center;
        background-image:url("images/entete.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        padding-bottom: 60px;
        padding-right: 42vw;
        color: black; 
        margin-top: 0rem;
    }
}
@media only screen and (min-width: 1140px) {
    .connexion {
        display: flex;
        justify-content:space-between;
        align-items: center;
        background-image:url("images/entete.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        padding-bottom: 60px;
        padding-right: 44vw;
        color: black; 
        margin-top: 0rem;
=======
 
input[type="text"]{
    display: block;
    border: 0.05rem solid grey; 
    border-radius: 0.3rem; 
    padding: 0.5rem 2rem;
    margin-bottom: 1rem;
    margin:auto;
    align-items: center;
}



@media (max-width: 800px) {
    h1{
        padding-left: 13rem;
    }
    header {
        display: flex;
        background-image: url("images/enteteRES.png");
        background-size: auto 100%;
        background-position: left top;
        background-size: cover;
    }
    header >img{
        min-width: 100px;
        max-height: 60px; 
        margin-top: 2rem;
    }
}


@media (max-width: 600px) {
    h1{
        padding-left: 5rem;
    }
    header {
        display: flex;
        background-image: url("images/enteteRESv2.png");
        background-size: auto 100%;
        background-position: left top;
        background-size: cover;
    }
    header >img{
        min-width: 100px;
        max-height: 60px; 
        margin-top: 3rem;
>>>>>>> 79cf498f3976d666fadba11ac7b7c4047a7d6652
    }
}



<<<<<<< HEAD
.connexionForm{
    margin: 0 auto;
=======
form{
>>>>>>> 79cf498f3976d666fadba11ac7b7c4047a7d6652
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
}

<<<<<<< HEAD
fieldset > img {
    max-width: 70%;
    margin-bottom: 2rem;
=======
fieldset img {
    max-width: 100%;
    margin-bottom: 3rem;
>>>>>>> 79cf498f3976d666fadba11ac7b7c4047a7d6652
}

label {
    display: block;
    color:grey;
    margin-bottom:10px
}

<<<<<<< HEAD
.connexionInput {
    display: block;
    border: 0.05rem solid grey; 
    border-radius: 0.3rem; 
    padding: 0.5rem 2rem;
    margin: 0 auto;
    margin-bottom: 1rem;
}
=======

>>>>>>> 79cf498f3976d666fadba11ac7b7c4047a7d6652

fieldset {
    border: none;
    align-items:center;
}

.button{
    margin: 0 auto;
    margin-top: 1rem;
    padding: 0.5rem 6rem;
    border: none;
    border-radius: 2rem;
    background-color:rgb(255, 221, 0);
    font-family: Arial;
    font-size:1rem;
    margin-bottom: 10rem;
}

.button:hover{
    font-weight: bold;
}

<<<<<<< HEAD
/*
/*
/*      Page offre de stage (faudra check pour opti la forme à la fin)      
*/

.flex-container1 {
    display: flex;
    justify-content: flex-end;
    margin-left: 0%;
 }

.rechercher {
    margin-top: 1%;
    margin-right: 1%;
    padding-left:60%;
    border-radius: 5rem;
    text-align: left;
}

.newOffre{
    margin-top: 1%;
    border-radius: 5rem;
    margin-right: 1%;
}

#filtres {
    margin-right: 5%;
    align-self: flex-start;
}

.filtres {
    flex-grow: 1; 
}

.sectionStages {
    width: 80vw;
    max-width: 400px;
}

.offre {
    padding: 3rem 40rem;    
    margin: 2% 2%;
    background-color:rgb(220, 220, 220);
}

.flex-container2 {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10%;
 }  

.flex-container2 > .sectionStages {
    max-width: 75%;
}

.filtres {
    padding: 1rem 2%;
    margin-right: 2%;
}

=======

.back_to_hub {
    width: 150px;
    height: 5px;
    background-color:green;/* rgb(255, 214, 0); */
    position:fixed;
    right: 10rem;
  }

  .texte_bth {
    color: black;
    position: absolute;
    top: 8rem; 
    right: 10rem;
  }
>>>>>>> 79cf498f3976d666fadba11ac7b7c4047a7d6652
