header {
    display: flex;
    background-image:url("images/entete.png");
    padding-bottom: 4rem;
    background-size: auto 100%; 
    background-position: left top;
    background-size: cover;
}

h1{
    padding-left: 35%;
}


header > img {
    margin-left: 1rem;
    max-width: 120px;
    min-width: 120px;
    max-height: 80px; 

}  
    
a:first-of-type {
        margin-left: 5%;
    }


form{
    margin-top: 5%;
    flex-direction: column;
    align-items: center;
    text-align: center; 
    display: flex;
}

fieldset img {
    max-width: 100%;
    margin-bottom: 3rem;

}

label {
    display: block;
    color:grey;
    margin-bottom:10px
}

input {
    display: block;
    border: 0.05rem solid grey; 
    border-radius: 0.3rem; 
    padding: 0.5rem 2rem;
    margin-bottom: 1rem;
    margin: 0 auto;
    margin-bottom: 1rem;
}

fieldset {
    border: none;
    align-items:center;
}

.button{
    margin: 1rem;
    padding: 0.5rem 6rem;
    border: none;
    border-radius: 2rem;
    background-color:rgb(255, 221, 0);
    font-family: Arial;
    font-size:1rem;
}

button:hover{
    font-weight: bold;
}

.main_stylo{
    max-height: 100px;
    max-width: 100px;
    margin-top: 2rem;
    margin: auto;
}

.block_star{
    display: inline;
}










/* offre de stage */

.header1 {
    display: flex;
    background-image:url("images/entetepages3.png");
    padding-bottom: 3rem;
    background-position: left top;
    background-size: cover;
}

nav:first-of-type {
    margin-top: 4rem;
}

.navbar {
    text-align: left;
    font-weight: bolder;
    font-size: 3rem;
    width: 100%;
}

a:first-of-type {
    margin-left: 5%;
}

a {
    font-size: 1.5rem;
    text-align: right;
    margin: 2%;
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: bold;
    color: rgb(255, 221, 0);
}

.Profil{
    margin: 1.5rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 2rem;
    background-color:rgb(255, 221, 0);
    font-family: Arial;
    font-size:1rem;
}

.flex-container1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
 }

.flex-container1 > .rechercher {
    width: 80%;
    border-radius: 5rem;
    margin-right: 2%;
}

.newOffre{
    border-radius: 5rem;
    margin-right: 2%;
}

#filtres {
    margin-right: 5%;
    align-self: flex-start;
    margin-bottom: 3rem;
    margin-top: 0;
}

.flex-container2 {
    display: flex;  
    box-sizing: 100%;
    margin-bottom: 10rem;
 }  

#colonne2 {
    margin-left: 2%;
    width: 75%;
}

#colonne1 {
    margin-left: 2%;
    margin-right: 2%;
    background-color:rgb(244, 240, 240);
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 2%;
}

.offres {
    width: 100%;
    border: 0.01rem solid grey;
}

.OptionOffre {
    background-color: rgb(220, 220, 220);
    padding-top: 0.01rem;
    margin-right: 1rem;
}

.TitreOffre {
    text-align: left;
    margin-left: 3%;
    font-size: 1.4rem;
    margin-top: 1rem;
    margin-bottom: 0rem;
}

.DescriptionOffre {
    text-align: left;
    margin-bottom: 1rem;
    margin-left: 1%;
}

.CompetencesOffre {
    color: rgb(3, 121, 255);
    text-align: left;
    font-size: 0.9rem;
    margin-left: 1%;
    padding-bottom: 0.5rem;
}

h3 {
    margin-top: 2rem;
}   


/*filtre promotion*/

.hidePromo {
    margin-left: 1rem;
    color: black;
    display: none;
}

input[type="checkbox"]{
    display: inline;
    border: 0.05rem solid black;
    border-radius: 0.3rem;
    margin-bottom: 0rem;
}


/*filtre lieu*/

.hideLieu {
    color: black;
    text-align: left;
    display: none;
  } 

.inputLieu {
    padding: 0.3rem 0.1rem; 
    display: none;
}


/*filtre entreprise*/

.hideEntreprise {
    color: black;
    text-align: left;
    display: none;
}

#inputEntreprise {
    padding: 0.3rem 0.1rem; 
    display: none;
}


/*filtre duree*/ 

.hideDuree {
    color: black;
    text-align: left;
    display: none;
}

input[type="range"], input[type="number"]{
    background-color: white;
}

.inputDuree {
    all:initial;
    accent-color: rgb(255, 221, 0);
    margin-right: 1rem;
    border: 0.01rem solid black;  
    border-radius: 3rem; 
    display: none;
}

.outputDuree {
    all: initial;
    border: none;
    font-size: 0.9rem;
    border: 0.05rem solid rgb(220, 220, 220); 
    border-radius: 0.3rem; 
    margin-bottom: 2rem;
    display: none;
}


/*filtre salaire*/

.hideSalaire {
    color: black;
    text-align: left;
    display: none;
}

.inputSalaire {
    all:initial;
    accent-color: rgb(255, 221, 0);
    margin-right: 1rem;
    border: 0.01rem solid black;  
    border-radius: 3rem; 
    display: none;
}

.outputSalaire {
    all: initial;
    border: none;
    font-size: 0.9rem;
    border: 0.05rem solid rgb(220, 220, 220); 
    border-radius: 0.3rem; 
    margin-bottom: 2rem;
    display: none;
}


/*filtre places*/

.hidePlaces {
    color: black;
    text-align: left; 
    display: none;
}

.inputPlaces {
    padding: 0.3rem 0.1rem;
    display: none;
}


/*filtre trier*/

input[type="radio"]{
    display: inline;
}

.trier {
    display: none;
}


/*filtre salaire*/

.hideSalaire {
    color: black;
    text-align: left;
    display: none;
}

.inputSalaire {
    all:initial;
    accent-color: rgb(255, 221, 0);
    margin-right: 1rem;
    border: 0.01rem solid black;  
    border-radius: 3rem; 
    display: none;
}

.outputSalaire {
    all: initial;
    border: none;
    font-size: 0.9rem;
    border: 0.05rem solid rgb(220, 220, 220); 
    border-radius: 0.3rem; 
    margin-bottom: 2rem;
    display: none;
}


/*filtre places*/

.hidePlaces {
    color: black;
    text-align: left; 
    display: none;
}

.inputPlaces {
    padding: 0.3rem 0.1rem;
    display: none;
}


/*filtre trier*/

input[type="radio"]{
    display: inline;
}

.trier {
    display: none;
}

/* Pagination */

.center{
    text-align: center;
    margin-bottom: 1rem;
}

.pagination {
    display: inline-block;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 1.2rem;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
  }
  
  .pagination a.active {
    background-color: rgb(255, 221, 0);
    color: white;
    border: 1px solid rgb(255, 221, 0);
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}











  .notation{
    padding-top: 1rem;
    margin-top: 2rem;
    padding-right: 1rem;
    padding-left: 1rem;
    width: 65rem;
    height: 12rem;
    background-color: #FFEF9E;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
  }

  .nota_txt{
    font-family: 'Inter';
    font-style: normal;
    font-size: 2rem;
    font-weight: 700;
    margin-top: 5rem;
    margin-left: 2rem;
  }

  .star{
    max-width: 68px;
    max-height: 68px;
    margin-top: 3.5rem;
    margin-left: 2rem;
  }


  .info_txt{
    border-bottom: 7px solid rgb(255, 221, 0);
    font-size: 2rem; 
    font-weight: bold; 
    line-height: 1.5; 
  }



  .info{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1rem;
    text-align: left;
}

.text_bth{
    border-bottom: 7px solid rgb(255, 221, 0);
    font-size: 1.5rem; 
    font-weight: bold; 
    line-height: 1.5; 
  }



  .back_to_hub{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    text-align: left;
    justify-content: flex-end;
}





/*------------------------ Gestion Entreprise ---------------------------*/

.notation{
    margin-top: 2rem;
    padding-left: 2rem;
    padding-top: 2rem;
    width: 70rem;
    height: 15rem;
    background-color: #FFEF9E;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    }
    
    .nota_txt{
    font-family: 'Inter';
    font-style: normal;
    font-size: 2rem;
    font-weight: 700;
    margin-top: 5rem;
    margin-left: 2rem;
    }
    
    .star{
    max-width: 68px;
    max-height: 68px;
    margin-top: 3.5rem;
    margin-left: 2rem;
    }
    
    
    .info_txt{
    border-bottom: 7px solid yellow;
    font-size: 2rem; 
    font-weight: bold; 
    line-height: 1.5; 
    }
    
    
    
    .info{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1rem;
    text-align: left;
    }

    /*--------------------------------------------------------------------------*/









/* Présentation offre */

#headerImage {
    display: flex;
    width: 100%;
    background-image: url("images/header_presentation_offre.png");
    padding-bottom: 5rem;
    background-position: left top;
    background-size: cover;
    margin-top: 3rem;
}

.Retour {
    margin-left: 40%;
    border: none;
    background: none;
    font-weight: bold;
    font-size: 1.1rem;
}

.Retour:hover {
    color:rgb(255, 221, 0);
}

.logoOffre {
    margin-top: 5rem;
        margin-left: 15%;
        max-width: 120px;
        min-width: 25%;
}

.DescriptionCompletOffre {
    font-family: Arial;
    font-size: 0.8rem;
    margin: 4rem 2% 4rem 2%;
    width: 100%;
}

.StatsOffre {
    color: black;
    padding-top: 1rem;
    width: 100%;
    background-color: rgba(220, 220, 220, 0.277);
    text-align: center;
    margin-bottom: 6rem;
}

.ValidationButton{
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 2rem;
    background-color:rgb(255, 221, 0);
    font-family: Arial;
    font-size:1rem;
}

.DivValidationButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 10rem; 
}






/* Candidature */

.Candidatureform {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin-left: 2%;
    margin-top: 1rem;
}

.Candidaturelabel {
    font-size: 1.2rem;
    color: black;
}   

.Candidatureinput { 
    margin-bottom: 2rem;
    margin-left: 0%;
    font-family: Arial;
}


/* Profil utilisateur, admin,etudiant et pilote */



body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

/* Styles pour l'en-tête */
.header {
    position: relative;
    height: 25px; 
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    height: 5rem; 
}

.line {
    position: absolute;
    background-color: black;
    height: 1.25rem;
    top: 0;
    left: 5.625rem;
    width: calc(100vw - 3.125rem);
    transform-origin: left;
    transform: skew(30deg);
}

/* Styles pour le menu de navigation */
.menu-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.menu {
    display: flex;
    list-style: none;
    padding: 0;
    border-bottom: 0.1875rem solid yellow;
}

.menu-link {
    display: block;
    padding: 0.625rem 0.9375rem;
    text-decoration: none;
    color: #333;
    position: relative;
}

.menu-link:hover {
    background-color: #ddd;
}

.menu-link:hover::after {
    content: '';
    position: absolute;
    bottom: -0.1875rem;
    left: 0;
    right: 0;
    height: 0.1875rem;
    background-color: yellow;
}

/* Styles pour le profil utilisateur dans l'en-tête */
.user-profile {
    font-size: 1.125rem;
    font-weight: bold;
    padding: 0 10.625rem;
    display: inline-flex;
    align-items: center;
    margin-left: auto;
}

/* Styles pour la nouvelle section de profil utilisateur */
.container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 20px auto;
}

.profil, .informations {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profil img {
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto;
}

.profil p, .informations span {
    margin-top: 1.25rem;
    text-align: center;
}

.informations {
    align-items: center;
    background-color: #f0f0f0;
    padding: 1.25rem;
    margin-left: 1.25rem;
    width: calc(50% - 1.25rem);
}

.informations span {
    display: block;
    margin-bottom: 1.25rem;
    line-height: 1.5;
}

.full-width-image {
    width: 100vw;
    height: auto;
    display: block;
    margin: 0 auto;
}

.page-title, .page-title2, .page-title3 {
    font-size: 2rem;
    font-weight: bold;
    text-align: left;
    margin-left: 1.25rem;
    color: #333;
}

.centres-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1.25rem;
}

.centre-button {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 1.25rem;
    padding: 0.625rem 1.25rem;
    margin: 0.625rem;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    flex: 0 0 calc(25% - 20px);
    text-align: center;
}

.centre-button:hover {
    background-color: #e9e9e9;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
}

.details-table summary {
    font-weight: bold;
    padding: 0.625rem;
    cursor: pointer;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    margin-bottom: 0.3125rem;
}

.details-table table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 0.625rem;
}

.details-table th, .details-table td {
    border: 1px solid #ddd;
    padding: 0.5rem;
    text-align: left;
}

.details-table th {
    background-color: #f2f2f2;
}

details > table {
    display: none;
}

details[open] > table {
    display: table;
}

.job-offer-container {
    display: flex;
    align-items: center;
    background: #f0f0f0;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 1.25rem;
}

.job-offer-header {
    flex-grow: 1;
}

.informations textarea {
    width: 40%; 
    padding: 0rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-family: Arial, sans-serif;
}

.brand-logo {
    height: 50px; 
    margin-right: 10px;
}

.job-offer-header h3 {
    font-size: 24px;
    margin: 0;
    
}

.job-offer-header p {
    margin: 0;
    color: #666;
}

.job-offer-details {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0 20px;
}

.detail {
    background: #d9d9d9;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
}

.delete-button {
    background: none;
    border: none;
    cursor: pointer;
}

.delete-button img {
    height: 30px; 
}




@media (max-width: 1024px) {
    .container {
        flex-direction: column;
        align-items: center;
        width: 95%;
    }

    .profil, .informations {
        flex-basis: unset;
        width: 100%;
    }

    .informations {
        margin-left: 0;
        margin-top: 20px;
    }

    .centre-button {
        flex: 0 0 calc(50% - 20px); 
    }

    .job-offer-details {
        flex-direction: column;
    }

    .informations textarea {
        width: 80%; 
    }
}


@media (max-width: 768px) {
    .centre-button {
        flex: 0 0 calc(100% - 20px); 
    }

    .page-title, .page-title2, .page-title3 {
        font-size: 1.5rem;
        margin: 0 10px; 
    }
}


@media (max-width: 480px) {
    .profil img {
        width: 10rem;
        height: 10rem; 
    }

    .informations span, .profil p {
        margin-top: 1rem; 
    }

    .job-offer-header h3 {
        font-size: 20px; 
    }

    .informations textarea {
        width: 90%; 
    }
}



/* media queries */


@media (max-width: 1100px) {


 .notation{
    height: 25rem;
    width: 34rem;
    flex-direction: column;
  }  
}
@media (min-width: 769px) and (max-width: 1024px) {
    .container {
        width: 85%;
    }

    .informations textarea {
        width: 80%; /* Ajustement pour les écrans intermédiaires */
    }

    .centre-button, .details-table summary {
        width: calc(50% - 40px); /* Ajuster pour un meilleur affichage en tablette */
    }
}

@media (min-width: 1201px) {
    .container {
        width: 75%;
    }

    .informations textarea {
        width: 70%; /* Plus d'espace disponible sur les grands écrans */
    }

    .centre-button, .details-table summary {
        width: calc(25% - 40px); /* Utilisation optimale de l'espace disponible */
    }
}

@media only screen and (min-width: 770px) {

    .flex-container-Présentation-Offre {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10rem;
    }


    .flex-container-Présentation-Offre > .DescriptionCompletOffre {
        width: 80%;
        font-family: Arial;
        font-size: 1rem;
        margin-left: 2%;
    }

    .Retour {
        margin-top: 5rem;
        margin-left: 50%;
    }

    .TitreOffrePresentation {
        font-size: 2.5rem;
        margin: 2rem 0% 5rem 4%; /*top right bottom left */
    }
    
    .StatsOffre {
        color: black;
        padding-top: 1rem;
        width: 15rem;
        background-color: rgba(220, 220, 220, 0.277);
        text-align: center;
        margin-bottom: 6rem;
    }
}






@media (max-width: 800px) {
    h1{
        padding-left: 13rem;
    }
    header {
        display: flex;
        background-image: url("images/enteteRES.png");
        background-size: auto 100%;
        background-position: left top;
        background-size: cover;
    }
    header >img{
        min-width: 100px;
        max-height: 60px; 
        margin-top: 2rem;
    }


    /* Partie offre de stage responsive */

     .flex-container1 {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
     }
    
    .flex-container1 > .rechercher {
        width: 100%;
        border-radius: 5rem;
        margin-right: 2%;
    }
    
    .newOffre{
        border-radius: 5rem;
        margin-right: 2%;
    }
    
    #filtres {
        margin-right: 5%;
        align-self: flex-start;
        margin-bottom: 3rem;
        margin-top: 0;
    }
    
    .flex-container2 {
        display: block;  
        box-sizing: 100%;
        margin-bottom: 10rem;
     }  
    
    #colonne2 {
        width: 96%;
    
    }
    
    #colonne1 {
        background-color:rgba(244, 240, 240, 0.462);
        padding: 1rem 5% 1rem 5%;
        margin: 0 2% 2rem 2%;
    }/*top right bottom left */

    .hideLieu, .hideSalaire, .hideEntreprise, .hidePlaces, .hideDuree {
        text-align: center;
    }
    /*-------------------------------*/

}


@media (max-width: 600px) {
    h1{
        padding-left: 5rem;
    }

    .GE{
        font-size: 1.5rem;
    }

    header {
        display: flex;
        background-image: url("images/enteteRESv2.png");
        background-size: auto 100%;
        background-position: left top;
        background-size: cover;
    }

    header >img{
        min-width: 100px;
        max-height: 60px; 
        margin-top: 3rem;
    }

    .pagination a {
        font-size: 0.8rem;
        padding: 0.2rem 0.4rem;
    }

    .TitreOffre {
    font-size: 1rem;
    margin-top: 0.5rem;
    }

    .DescriptionOffre {
        font-size: 0.6rem;
        margin-bottom: 0.5rem;
    }

    .CompetencesOffre {
        font-size: 0.5rem;
    }
    h3 {    
        font-size: 1rem;
    }  
    .hidePromo, .hideLieu, .hideSalaire, .hideEntreprise, .hidePlaces, .hideDuree, .trier {
        text-align: center;
        font-size: 0.9rem;
    }

    .star {
        max-width: 45px;
        max-height: 45px;
        margin-top: 2rem;
        margin-left: 1rem;
    }
    .nota_txt{
        margin-left: 0rem;
      }
    .notation{
        height: 25rem;
        width: 20rem;
        margin: auto;
        margin-top: 3rem;
    }
    .info_txt{
        font-size: 1.8rem; 
      }
}

