<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Assets/stylesheet.css">
    <title>Création d'une entreprise</title>
</head>

<body>
    <header>
        <img src="../Assets/images/logo.png" alt="logo EASYSTAGE">
        <h1 class="GE">Création entreprise</h1>
    </header>
    <div class="back_to_hub">
    <div class="text_bth" onclick="redirectToAccueilGE()">Espace Entreprise</div>
    </div>
    <main>
        <form name="GE_creation"  action="" method="post">
            <fieldset>

                <img src="../Assets/images/logo.png" alt="logo EASYSTAGE">
                <div class="info">
                <div class="info_txt">Informations de l'entreprise :</div>
                </div>
                <label for="nom_entreprise">Nom de l'entreprise :</label>
                <input type="text" id="nom_entreprise" name="nom_entreprise" required>
                <label for="logo_entreprise">Logo de l'entreprise</label>
                <input  id="logo_entreprise" name="logo_entreprise" type="file" accept="image/jpeg, image/png">

                <label for="secteur_entreprise">Secteur d'activités :</label>
                <input type="text" id="secteur_entreprise" name="secteur_entreprise" required>
                
                <label>localité(s) :</label>

                <div id="LocaliteSupp">
                    <div>
                        <label for="Adresse1_entreprise">Adresse :</label>
                        <input type="text" id="Adresse1_entreprise" name="Adresse1_entreprise" required>
                    </div>

                    <div>
                        <label for="CP1_entreprise">Code Postal :</label>
                        <input type="number" id="CP1_entreprise" name="CP1_entreprise" required>
                    </div>

                    <div>
                        <label for="Ville1_entreprise">Ville :</label>
                        <input type="text" id="Ville1_entreprise" name="Ville1_entreprise" required>
                        <div class="CP_API">
                            <select id="selectVilles1" class="selectVilles"></select>
                        </div>
                    </div>

                    <div>
                        <label for="Pays1_entreprise">Pays :</label>
                        <input type="text" id="Pays1_entreprise" name="Pays1_entreprise" required>
                    </div>

                </div>
                    

                <button class="addCompetence" type="button" onclick="AddLocaliteEnt()">ajouter une adresse</button>


                <div>
                <label>Notation de l'entreprise</label>
                <select id="note_entreprise">
                    <option id='etoile1' value='1'>1 étoile</option>
                    <option id='etoile2' value='2'>2 étoiles</option>
                    <option id='etoile3' value='3'>3 étoiles</option>
                    <option id='etoile4' value='4'>4 étoiles</option>
                    <option id='etoile5' value='5'>5 étoiles</option>
                </select>
                </div>
                <button class="button" type="button" onclick="redirectToAccueilGE_FromCreate(event)">Créer</button>
            </fieldset>
        </form>
    </main>
    <footer>
        <a class="mentions-legales" href="mentions_legales.html">©2024 - Tous droits réservés -	Mentions légales EasyStage</em>
    </footer>
    <script src="../../Controler/script.js"></script>
    <script src="../../Controler/entreprises.js"></script>
</body>

