<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#FFA500s">
    <title>Offre de stage</title>
</head>

<body>
    <header>
        <h1> Mentions légales EasyStage.fr</h1>
    </header>
    <main> 
        <h2 class="mentions">Hébergeur</h2>
        <h3 class="mentions">CESI – Association loi 1901</h3>
        <pre class="mentions">Siège social :
Tour HYFIVE (ex PB5) - 6e étage
1 av du Général de Gaulle
92074 Puteaux La Défense
Tél : +33(0) 1 44 45 92 00
Fax : +33(0) 1 44 45 92 98
        </pre>
        <h4 class="mentions">Déclaration d'activité</h4>
        <h3 class="mentions">CESI - Association loi 1901</h3>
        <pre class="mentions">SIREN : 775 722 572
Siège social : 
Tour HYFIVE (ex PB5) - 6e étage
1 av du Général de Gaulle
92074 Puteaux La Défense
Tél : +33(0) 1 44 45 92 00
Fax : +33(0) 1 44 45 92 98
Déclaration d’activité enregistrée sous le numéro 11 75 47883 75 auprès du Préfet de la région Ile-de-France.
Cet enregistrement ne vaut pas agrément de l’Etat.
        </pre>
        <h4 class="mentions">Respect de la vie privée et collecte des Données Personnelles</h4>
        <pre class="mentions">Aucune donnée personnelle n’est collectée via l’ENT.
Les seules informations disponibles sur cet espace numérique de travail sont les données qui ont été collectées directement auprès de l’utilisateur, soit sur le dossier pédagogique de l’utilisateur, soit sur toute autre convention passée avec le CESI.
            
L’ENT n’a pas une finalité commerciale.
            
Conformément à l’article 34 de la loi “Informatique et Libertés” nº 78-17 du 16 janvier 1978 modifiée en 2004, vous disposez d’un droit d’accès, de modification, de rectification et de suppression des données qui vous concernent.
            
Pour l’exercer, envoyer votre demande à l’adresse suivante <a class="mentions-liens">adressemail@cesi.fr</a> ou par courrier au CESI, Correspondant Informatiques et Libertés, Tour PB5, 1 av du Général de Gaulle,92074 Puteaux La Défense.
            
Par “Données Personnelles”, il faut entendre toute information qui permet d’identifier une personne.
Il s’agira le plus souvent d’un nom, d’une adresse, d’une photographie, d’un numéro de téléphone ou d’une adresse électronique.
        </pre>
        <h4 class="mentions">Protection des données à caractère personnel</h4>
        <pre class="mentions">Les salariés de CESI sont invités à consulter la note d’information des salariés sur le traitement et l’accès aux données à caractère personnel les concernant, disponible sur l’ENT dans l’onglet RGPD. Les étudiants de CESI sont invités à consulter la politique de protection des données personnelles des étudiants, leurs parents et des prospects, disponible à l’adresse suivante : <a href="https://www.cesi.fr/politique-de-confidentialite/">https://www.cesi.fr/politique-de-confidentialite/</a>
        </pre>
        <h4 class="mentions">Conservation des données</h4>
        <pre class="mentions">Le CESI conserve les données ainsi collectées pendant une durée minimum de un an, pouvant varier en fonction du statut de la personne concernée par cette collecte.
En tout état de cause, cette durée est raisonnablement fixée par le responsable du traitement et ne peut être inférieure à la durée de la formation suivie ou de la relation entre le CESI et l’utilisateur.
        </pre>
        <h4 class="mentions">Sécurité</h4>
        <pre class="mentions">Le CESI s’engage à mettre en œuvre tous les moyens nécessaires au bon fonctionnement du site.
Cependant, le CESI ne peut pas garantir la continuité absolue de l’accès aux services proposés par le site.
Les adhérents sont informés que les informations et services proposés sur le site <a class="mentions-liens" href="https://ent.cesi.fr">https://ent.cesi.fr</a>  pourront être interrompus en cas de force majeure et pourront le cas échéant contenir des erreurs techniques.
        </pre>
        <h4 class="mentions">Gestion des cookies</h4>
        <pre class="mentions">
            L'utilisateur est informé que lors de ses visites sur le site, un cookie peut s'installer automatiquement sur son logiciel de navigation.
Un cookie est un élément qui ne permet pas d'identifier l'utilisateur mais sert à enregistrer des informations relatives à la navigation de celui-ci sur le site Internet.
Le paramétrage de votre logiciel de navigation permet d'informer de la présence de cookies et éventuellement de la refuser selon la procédure décrite à l'adresse suivante : <a href="www.cnil.fr" class="mentions-liens">www.cnil.fr</a> .

Le CESI met en œuvre un procédé de conservation temporaire d’une session ouverte par le stockage d’un cookie.
Cependant, ces sessions sont automatiquement closes après 10 mn d’inactivité.

Pour des raisons de sécurité ou d’estimation de la fréquentation de son site, le CESI est amenée à enregistrer les données suivantes :

Date, heure, temps de connexion sur le site
Adresse IP
Pages consultées
La durée du consentement à l’utilisation des cookies est donnée pour un an.
Une adresse IP constitue une donnée indirectement nominative.
        </pre>
<style>
    .mentions {
        font-family: Arial;
    }
    
    .mentions-liens {
        font-size: 1rem;
        margin-left: 0rem;
        margin-right: 0rem;
    }
</style>

    </main>
<script src="../Controler/script.js"></script>
</body>