<!DOCTYPE HTML>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="Assets/stylesheet.css">
        <meta name="theme-color" content="#FFA500s">
        <title>Connexion</title>
    </head>

    <body>
        <header class="connexion">
            <img src="Assets/images/logo.png" alt="logo EASYSTAGE">
            <h1>Connexion</h1>
            
        </header>
        <main>
            <form class="connexionForm" name="connexion"> <!-- action="lien avec la base de donnée" : L'attribut action permet de pointer vers un script serveur qui traitera les données du formulaire côté serveur -->
                <fieldset>
                    <img src="Assets/images/logo.png" alt="logo EASYSTAGE">
                    <label for="user">Nom d'utilisateur</label>
                    <input class="connexionInput" type="text" id="user" name="user" required>
                    <label for="password">Mot de passe</label>
                    <input class="connexionInput" type="password" id="password" name="password" required>
                    <div class="DivValidationButton">
                    <button class="ValidationButton" type="button" onclick="redirectToAccueilFromConnexion(event)">Connexion</button>
                    </div>
                </fieldset>
            </form>
        </main>
        <footer>
            <a class="mentions-legales" href="mentions_legales.html" aria-label="Accéder aux mentions légales">©2024 - Tous droits réservés -	Mentions légales EasyStage</em>
        </footer>
    <script src="../Controler/script.js"></script>
    </body>
</html>