<!DOCTYPE HTML>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Assets/stylesheet.css">
    <script src="Assets/script.js"></script>
    <meta name="theme-color" content="#FFA500s">
    <title>Présentation de l'offre</title>
</head>
<body>
    <header class="header1">
        <img src="Assets/images/logo.png" alt="logo EASYSTAGE">
        <nav class="navbar">
            <a href="accueil.html">Accueil</a>
            <a href="offres_stages.html" id="pagepre">Offres de stages</a>
            <a href="presentation_entreprise.html">Entreprises</a>
            <a class="refPilote" href="gestion_etudiant/GETU_accueil.html">Etudiants</a>
            <a class="refAdmin" href="gestion_pilote/GP_accueil.html">Pilotes</a>
            <div class="DivDeconnexion" onmouseover="showLogout()" onmouseout="hideLogout()">
                <button class="Profil" type="button" onclick="redirectToProfil()">Mon profil</button>
                <a class="Deconnexion" href="page_connexion.html">Déconnexion</a>
            </div>
        </nav>
        <style>
            #pagepre {
                background: linear-gradient(to bottom, white, white, rgb(255, 221, 0));
            }
        </style>
    </header>
    <main>
    <div id="headerImage">
        <img class="logoOffre" src="Assets/images/logo.png" alt="logo EASYSTAGE">
        <button class="Retour" type="button" onclick="redirectToPrecPage()">retour</button>
    </div>
    <div>
        <h2 class="TitreOffrePresentation"> Titre de l'offre</h2>
            <div id="like" class="like-dislike" onclick="LikeDislike()" onclick="LikeDislike()"></div>
        
    </div>
    <div class="flex-container-Présentation-Offre">
        <pre class="DescriptionCompletOffre"> Description de l'offre

Voici ce que cela donne.

fezfzfzfqfzefzef
zfzeezf : 
            - dzedzd zae dzedzdedzeed
            - dzedze dzdze dzed ze dqs
            -dze dze dze d zedzede

zefzefzefz
fzefzfze ezdzed
dzedzed dez dezd ze d zdze dze dzedzdzedz. 
dez
dzedzdedzeedfzed
dzedzdzedz
fezfzfzfqfzefzef
zefz
edeeeeeeeeeeeeeeeeeeeeeeeeeedddddddddddddd

edededed

        zdedzedzd
        dzedzdedzeed
            
                                                                      zedzdedzed ezdze ezfdszed
                                                                              dzed z dzedzdzedz
                    
fin. 
</pre>
        <aside class="StatsOffre"> <h2>Statistiques</h2> <p>compétence 1</p> <p>compétence 2</p> <p>compétence 3</p> <p>compétence 4</p> <p>stat 1</p> <p>stat 2</p></aside>
    </div>
    <div class="DivValidationButton">
    <button class="ValidationButton" type="button" onclick="redirectToPostulation()">Postuler</button>
    </div>
    <div class="PilotesFonctionsOffre">
        <button class="ModifierButton" type="button" onclick="modifyOffre()">Modifier</button>
        <button class="SupprimerButton" type="button" onclick="deleteOffre()">Supprimer</button>
    </div>

</main>
<footer>
    <a class="mentions-legales" href="mentions_legales.html" aria-label="Accéder aux mentions légales">©2024 - Tous droits réservés -	Mentions légales EasyStage</em>
</footer>

<script src="../Controler/script.js"></script>
<script src="../Controler/offres_de_stage.js"></script>
</body>
</html>