
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CESI</title>
    <link rel="stylesheet" href="Assets/stylesheet.css">
    <script src="Assets/script.js"></script>
</head>
<body>
    <header class="header1">
        <img src="Assets/images/logo.png" alt="logo EASYSTAGE">
        <nav class="navbar">Profil Utilisateur
            <a href="accueil.html">Accueil</a>
            <a href="offres_stages.html">Offres de stages</a>
            <a href="recherche_entreprises.html">Entreprises</a>
            <a class="refPilote" href="gestion_etudiant/GETU_accueil.html">Etudiants</a>
            <a class="refAdmin" href="gestion_pilote/GP_accueil.html">Pilotes</a>
            <a class="DeconnectProfil" href="page_connexion.html">Déconnexion</a>
        </nav>
    </header>
        
    <div class="container">
        <div class="profil">
            <img src="Assets/images/profile.jpg" alt="Photo de profil">
            <p>Description ici...</p>
        </div>
        <div class="informations">
            <span>Nom  </span><label>Ajoutez votre description ici...</label><br>
            <span>Prenom: </span><label>Ajoutez votre description ici...</label><br>
            <span>Centre: </span><label>Ajoutez votre description ici...</label><br>
            <span>Promotion: </span><label>Ajoutez votre description ici...</label><br>
        </div>
    </div>
  </div> 
<img src="Assets/images/etudiant.jpg" alt="Description de l'image" class="full-width-image">
<h2 class="page-title">Les centres</h2>
<div class="centres-container">
<button class="centre-button">Centre 1</button>
<button class="centre-button">Centre 2</button>
<button class="centre-button">Centre 3</button>
<button class="centre-button">Centre 4</button>
<button class="centre-button">Centre 5</button>
<button class="centre-button">Centre 6</button>
<button class="centre-button">Centre 7</button>
<button class="centre-button">Centre 8</button>
</div>
<h3 class="page-title2">Mes Etudiants</h3>

<details class="details-table">
<summary>Informations des Etudiants</summary>
<table>
  <tr>
      <th>Nom</th>
      <th>Prénom</th>
      <th>Stage</th>
  </tr>
  <tr>
      <td>Nom1</td>
      <td>Prénom1</td>
      <td>Stage1</td>
  </tr>
  
  <tr>
      <td>Nom2</td>
      <td>Prénom2</td>
      <td>Stage2</td>
  </tr>
  <tr>
      <td>Nom3</td>
      <td>Prénom3</td>
      <td>Stage3</td>
  </tr>

</table>
</details>



</body>
</html>

