
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CESI</title>
    <link rel="stylesheet" href="Assets/stylesheet.css">
    <script src="Assets/script.js"></script>
</head>
<body>
</head>
<body>
    <header class="header1">
        <img src="Assets/images/logo.png" alt="logo EASYSTAGE">
        <nav class="navbar">Profil Utilisateur
            <a href="accueil.html">Accueil</a>
            <a href="offres_stages.html">Offres de stages</a>
            <a href="recherche_entreprises.html">Entreprises</a>
            <a class="refPilote" href="gestion_etudiant/GETU_accueil.html">Etudiants</a>
            <a class="refAdmin" href="gestion_pilote/GP_accueil.html">Pilotes</a>
            <a class="DeconnectProfil" href="page_connexion.html">Déconnexion</a>
        </nav>
    </header>
    <main>
        <div class="user-profile">
            Profil Utilisateur
        </div>
        <div class="container">
            <div class="profil">
                <img src="Assets/images/profile.jpg" alt="Photo de profil">
                <p>Description ici...</p>
            </div>
            <div class="informations">
                <span>Nom  </span><label>Ajoutez votre description ici...</label><br>
                <span>Prenom: </span><label>Ajoutez votre description ici...</label><br>
                <span>Centre: </span><label>Ajoutez votre description ici...</label><br>
                <span>Promotion: </span><label>Ajoutez votre description ici...</label><br>
            </div>
        </div>
    </div> 
    <img src="Assets/images/etudiant.jpg" alt="Description de l'image" class="full-width-image">
    <h2 class="page-title">Les centres</h2>
    <div class="centres-container">
        <button class="centre-button">Centre 1</button>
        <button class="centre-button">Centre 2</button>
        <button class="centre-button">Centre 3</button>
        <button class="centre-button">Centre 4</button>
        <button class="centre-button">Centre 5</button>
        <button class="centre-button">Centre 6</button>
        <button class="centre-button">Centre 7</button>
        <button class="centre-button">Centre 8</button>
    </div>
    <h3 class="page-title2">Candidatures</h3>

    <details class="details-table">
        <summary>Mes candidatures</summary>
        <table>
            <tr>
                <th>Poste</th>
                <th>Salaire</th>
                <th>Durée</th>
                <th>Date</th>
                <th>État</th>
            </tr>
            <tr>
                <td>Poste1</td>
                <td>Salaire1</td>
                <td>Durée1</td>
                <td>Date1</td>
                <td>État1</td>
            </tr>
            
            <tr>
                <td>Poste2</td>
                <td>Salaire2</td>
                <td>Durée2</td>
                <td>Date2</td>
                <td>État2</td>
            </tr>
            <tr>
                <td>Poste3</td>
                <td>Salaire3</td>
                <td>Durée3</td>
                <td>Date3</td>
                <td>État3</td>
            </tr>
            <!-- ... -->
        </table>
        <div id="EvaluationDiv">
            <center><button id="EvaluationETU" class="Profil" type="button" onclick="EvaluateETU()">Evaluer votre dernier stage</button></center>
            <br>
        </div>
    </details>


    <h4 class="page-title3">Ma liste de souhaits</h4>
    <div class="job-offer-container">
        <div class="job-offer-header">
            <img src="Assets/images/profile.jpg" alt="Bugatti Logo" class="brand-logo">
            <h3>Titre de l'offre</h3>
            <p>Petite description de l'offre de stage</p>
        </div>
        <div class="job-offer-details">
            <span class="detail">secteur</span>
            <span class="detail">promotions</span>
            <span class="detail">salaire</span>
            <span class="detail">compétences</span>
            <span class="detail">durée</span>
            <span class="detail">dates (début-fin)</span>
        </div>
        <button class="delete-button">
            <img src="Assets/images/bin.png" alt="Delete">
        </button>
    </div>
    <div class="job-offer-container">
        <div class="job-offer-header">
            <img src="Assets/images/profile.jpg" alt="Bugatti Logo" class="brand-logo">
            <h3>Titre de l'offre</h3>
            <p>Petite description de l'offre de stage</p>
        </div>
        <div class="job-offer-details">
            <span class="detail">secteur</span>
            <span class="detail">promotions</span>
            <span class="detail">salaire</span>
            <span class="detail">compétences</span>
            <span class="detail">durée</span>
            <span class="detail">dates (début-fin)</span>
        </div>
        <button class="delete-button">
            <img src="Assets/images/bin.png" alt="Delete">
        </button>
    </div>
    <div class="job-offer-container">
        <div class="job-offer-header">
            <img src="Assets/images/profile.jpg" alt="Bugatti Logo" class="brand-logo">
            <h3>Titre de l'offre</h3>
            <p>Petite description de l'offre de stage</p>
        </div>
        <div class="job-offer-details">
            <span class="detail">secteur</span>
            <span class="detail">promotions</span>
            <span class="detail">salaire</span>
            <span class="detail">compétences</span>
            <span class="detail">durée</span>
            <span class="detail">dates (début-fin)</span>
        </div>
        <button class="delete-button">
            <img src="Assets/images/bin.png" alt="Delete">
        </button>
    </div>
    </main>
</body>
</html>

